.show{
    display: none;
  }
  .release{
    display: none;
  }
  .prove{
    display: none;
  }
  .display{
    display: none;
  }
  .perform{
    display: none;
  }
  .visible{
    display: none;
  }
h4{
  cursor: pointer;
  
}
h4:hover{
  text-decoration: underline;
}
